<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127863700-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127863700-1');
    </script>


    <link rel="stylesheet" href="//www.cse.unsw.edu.au/~cs1511/17s2/assets/main.css">
    <link rel="stylesheet" href="{{ site.url }}/static/site.css">
    <link rel="stylesheet" href="{{ site.url }}/static/friendly.css">
    <link rel="stylesheet" href="{{ site.url }}/static/solarized_dark.css">
    <link rel="stylesheet" href="{{ site.url }}/static/markdown.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!--<script src="{{ site.url }}static/highlight.js"></script>-->
 
    <!--
    <link rel="stylesheet" href="//www.cse.unsw.edu.au/~cs1511/17s2/assets/main.css">
    <link rel="stylesheet" href="/~andrewb/thoughts/static/site.css">
    <link rel="stylesheet" href="/~andrewb/thoughts/static/friendly.css">
    <link rel="stylesheet" href="/~andrewb/thoughts/static/solarized_dark.css">
    <link rel="stylesheet" href="/~andrewb/thoughts/static/markdown.css">
    <script src="/~andrewb/thoughts/static/highlight.js"></script>
    -->

    <!--<script src="static/marked.js"></script>-->
    <!--
    <script src="/~andrewb/thoughts/static/TweenLite.min.js"></script>
    <script src="/~andrewb/thoughts/static/base64.min.js"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            showProcessingMessages: false,
            messageStyle: "none",
            "HTML-CSS": {
                preferredFont: "STIX",
                availableFonts: ["STIX", "TeX"],
                imageFont: null
            }
        });
    </script>
    -->

    <!-- bootstrap javascript -->
    <!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    -->
    <!-- end bootstrap javascript -->

  </head>
  <body>
    {% include navigation.html %}

    {{ content }}

  </body>
</html>
